<h1>Angular: Tests unitarios con Jest</h1>
<section>
    <h2>Tests</h2>
    <article>
        <p>
            Un <strong>test unitario</strong> se encarga de comprobar que un fragmento de código funciona correctamente.
            Nos ayuda a garantizar el funcionamiento de una aplicación. Testea métodos dentro de las clases. Si
            necesitan hacerse dentro de otras clases, estos test se simularán.
        </p>
        <ul>
            <li>Nos asegura que el código nuevo que introduzcamos no haga que deje de funcionar el resto.</li>
            <li>Permite comprobar si estamos creando código demasiado complejo.</li>
        </ul>
        <p>
            Un <strong>test de integración</strong> también incluye tests que se realizan en otras clases pero, en este
            caso, no serán simulados.
        </p>
        <p>
            Un <strong>test E2E</strong> simula el comportamiento de un usuario en una aplicación.
        </p>
    </article>
    <h2>Jest</h2>
    <article>
        <p>
            Jest es un marco de pruebas de JavaScript.
        </p>
    </article>
</section>
<section>
    <div class="container text-center mt-5 mb-5">
        <h1>Bootstrap 5 is working fine with Angular 15!!</h1>
    </div>
</section>